@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: .8em;
    background-color: white;
    background: rgb(227, 226, 226);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.242);
    border-radius: 50px;
}

.dark ::-webkit-scrollbar{
    width: .8em;
    background-color: black;
    background: rgb(10, 10, 10);
}

.dark ::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 50px;
}

